::-webkit-scrollbar {
    display:  none;
}

  .widget-box {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 10px;
    width: 380px;
    height: 214px;
  }

  @media (max-width: 640px) {
    .widget-box {
      width: 363px;
      margin-left: 0px;
            margin-right: 10px;
      height: 200px;
    }
  }
